bot/config.py
.idea/
__pycache__/
bot/handlers/__pycache__/
telephone/channel_messages.json
telephone/channel_users.json
telephone/config.ini
telephone/РђРЅРґСЂРµР№ Р—РІРѕСЂС‹РіРёРЅ.session
telephone/РђРЅРґСЂРµР№ Р—РІРѕСЂС‹РіРёРЅ.session-journal
telephone/Андрей Зворыгин.session
telephone/Андрей Зворыгин.session-journal